# openmrs environment variables
OPENMRS_USERNAME=admin
OPENMRS_PASSWORD=Admin123
OPENMRS_URL=http://localhost:8080/openmrs


# The node environment
PORT=2001
APP_USERNAME=development
APP_PASSWORD=development